html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#525252, #131313);
    color: white;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 4rem;
    font-family: 'Lobster', sans-serif;
    font-weight: lighter;
}

h2{
    font-size: 6rem;
    font-family: 'Inter', sans-serif;
    
}

h3{
    font-size: 3rem;
    margin-bottom: 5px;
}

h4{
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
    color: lightgray;
}

li{
    font-size: 2rem;
}

a{
    color: white;
    text-decoration: none;
}

h3 span{
    color: #f54538;
}




@import "_home";
@import "_features";
@import "_products_"