.home{
    background: transparent;
    height: 115vh;
}

.nav-container{
    background: transparent;
}

.nav-container .sticky{
    background: #131313;
    padding: 3rem 5rem;
    border-radius: 3rem;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem 5rem;
    width: 90%;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 10;

    ul{
        display: flex;
        justify-content: space-between;
        flex: 2.5;
        list-style: none;
        transition: .5s ease-in;
    }

    #logo{
        flex: 3;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 7rem;
            height: 7rem;
            background: #f54538;
            border-radius: 50%;
            transform: translate(-10%, -15%);
            mix-blend-mode: screen;
        }
        
    }
}

.order{
    background: #f54538;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.showcase{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 10% repeat(3, minmax(5rem,1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;

    img{
        grid-row: 2/3;
        grid-column: 3/4;
        height: 120%;
        object-fit: cover;
        align-self: center;
        justify-self: center;
    }

    .info{
        grid-column: 4/5;
        grid-row: 3/4;
        margin-top: 60px;
    }
    i{
        font-size: 30px;
        position: absolute;
        top: 50vh;
        left: 22vh;
        display: flex;
        color: #f54538;

        p{
            margin-left: 10px;
            font-size: 3rem;
            color: lightgray;
            display: block;
        }
    }
    span p{
        font-size: 1.5rem;
        position: absolute;
        color: lightgray;
        top: 55vh;
        left: 22vh;
        
}
    
}


.home h2{
    position: absolute;
    top: 40vh;
    left: 21.5vh;
    font-family: 'Inter', sans-serif;
}

.learn{
    position: absolute;
    top: 60vh;
    left: 22vh;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    color: #f54538;
    transition: 1s;
}

.learn:hover{
    color: #525252;
}

.info p{
    margin-left: 2px;
}

.showcase img{
    overflow: hidden;
    transform: translateY(0px);
    animation: float 4s ease-in-out infinite;
    
}

@keyframes float{
    0%{
        
        transform: translateY(0px);
    }
    50%{
        
        transform: translateY(-30px);
    }
    100%{
        
        transform: translateY(0px);
    }
}